@spartacus:registry=https://73554900100900004337.npmsrv.base.repositories.cloud.sap/
//73554900100900004337.npmsrv.base.repositories.cloud.sap/:_auth=c2FwLUk1NTgxODg6aDBmQjJFeE1ncUlnNXZKNm5nTTczMUJjQnZNYUNoUjY=
always-auth=true
